@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
}

html {
    --lavender: #F5EDF0;
    --white: #fff;
    --black: #111;
    --charcoal: #424C55;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background: var(--white);
    color: var(--black);
    width: 100%;
    display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.navbar-menu-item {
    margin: 0 10px;
}

.navbar-menu-item:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: var(--black);
}

.navbar-toggle {
    font-size: 1.5rem;
    display: none;
    position: relative;
    z-index: 11;
}

@media (max-width: 768px) {
    .navbar-menu {
        height: 100vh;
        width: 100vw;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--charcoal);
        left: 100%;
        transition: .4s;
        z-index: 10;
        top: 0%;
    }

    a.navbar-menu-item {
        color: var(--white);
        width: 100%;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        transition: .4s;
    }

    a.navbar-menu-item:hover {
        background-color: var(--white);
        color: var(--charcoal);
        transition: .4s;
    }

    .navbar-menu.active {
        left: 0%;
        transition: .4s;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer
    }
}

.hero {
    height: 94vh;
    display: flex;
    background-position: center center;
    position: relative;
}

.hero h2 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    text-align: center;
}

.hero h4 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
}

.hero-info {
    padding: 10px;
    position: relative;
    width: 100%;
}

.hero-text {
    max-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0,0,0,.7);
    color: var(--white);
    border-radius: 20px;
}

.hero-spec-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-spec {
    border-radius: 4px;
    background: #eee;
    color: var(--black);
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 3px;
}

.hero-spec i {
    margin-right: 5px;
    font-size: 1.5rem;
}

.hero-spec p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.footer {
    background-color: var(--charcoal);
    color: var(--white);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    margin-left: .5rem;
}

.car-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    width: 100%;
    margin: 40px auto;
    gap: 10px;
}

.car {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    overflow: hidden;
    flex: 1 0 calc(50% - 10px);
}

@media (max-width: 768px) {
    .car{
        flex: 1 0 100%;
    }
}

.car img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    height: 100%;
}

.car-content {
    padding: 10px;
}

.car-content h3 {
    margin: 0 0 10px 0;
}

.car .car-spec {
    margin-bottom: 5px;
}

.button {
    -webkit-appearance: none;
    padding: 8px 12px;
    background: var(--charcoal);
    color: var(--white);
    border-radius: 3px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.register-form-wrapper {
    position: relative;
}

.register-form {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:40px;
}

input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 5px;
    width: 100%;
}

.opinions {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.opinions-opinion {
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px;
    max-width: 400px;
    height: 100%;
    margin: 0 10px;

    display: none;
}

.opinions-opinion.active {
    display: block;
}

.opinions-stars i {
    color: #ff0;
}

.opinions-opinion p {
    color: #ababab;
    font-style: italic;
}

.add-opinion {
    display: flex;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    flex-wrap: wrap;
}

.add-opinion > * {
    flex: 1 0 50%;
}

@media (max-width: 768px) {
    .add-opinion > * {
        flex: 1 0 100%;
    }
}

.add-opinion-form {
    padding: 20px 0;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

.add-opinion-form textarea {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 5px;
    width: 100%;
}

.opinion-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}

.opinion-arrow-left {
    left: 10%;
}

.opinion-arrow-right {
    right: 10%;
}

.canvas-wrapper {
    height: 100vh;
    width: 100%;
}

.gallery {
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.gallery-main-image {
    max-height: 500px;
}

.gallery-main {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.gallery-preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-preview img {
    max-height: 100px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    transition: .4s;  
}

.gallery-preview img:hover {
    transform: scale(1.1);  
    transition: .4s;  
}

.gallery img {
    max-width: 100%;
}

.contact-form {
    max-width: 568px;
    margin: 10px auto;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    height: 90px;
    font-family: 'Open Sans';
}

.contact-form-title {
    text-align: center;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contact-wrapper > * {
    flex: 1 0 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .contact-wrapper > * {
        flex: 1 0 100%;
    }
	
	.text-section {
		flex-direction: column;
  }
}

.text-header, .opinions-header {
    text-align: center;
    margin-top: 35px;
}

.text-about-us {
    padding: 10px;
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
}

.text-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.text-section-text {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
	flex: 1;
	margin: 10px;
}

.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0;
}

.list > * {
    padding: 10px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{ 
    min-width: 100px;
}

.list-item:nth-child(odd) .list-circle {
    background-color: var(--charcoal);
    color: var(--white);
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.list-item:nth-child(even) .list-circle {
    background-color: var(--white);
    color: var(--charcoal);
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}